@(deckId: Int, currentState: FlashcardsState)(implicit flash: Flash)
@mainWithGraph(Messages("flascard.details", -1))(currentState) {

<div class="row show-grid">
   <div class="span4">
	  <h2> Bravo! </h2>
	  <p>
	  Alla kort är visade!<br/>
	  Du klarade @currentState.numberOfCardsOkAfterFirstTry kort direkt, men hade problem med @currentState.numberOfCardsNotOk.<br/> 
	  Vi visar om 
	  @if(currentState.numberOfCardsNotOk > 1){
	    de korten igen tills du klarar dem!
	  }else{
	    det kortet igen tills du klarar det!
	  } 
	  
	  </p>
		<div class="row show-grid">
        	<div class="span4"> 

				<form class="form-inline" style="float: left; padding: 2px;" action="@routes.Decks.nextFlashcardFromState2()" method="post">
					<input type="hidden" name="deckId" value="@deckId">
					<input type="hidden" name="retriesHasStarted" value="true">
					<input type="hidden" name="flashcardsStateAsString" value="@currentState.stateAsString">
					<button class="btn" type="submit">Ok</button>
				</form>
			</div>
		</div>
		
   </div>
  
   <div class="span4">
		<div id="chart_div" style="width: 180px; height: 180px;"></div>
   </div> 
    <div class="span4"/>
</div>

}
