@(decks: List[Deck])(implicit flash: Flash)

@main("mattekort.se") {
 
 <h2>Välj kortlek</h2>
 <p>Klicka på namnet på den kortlek du vill träna på!</p>
<div class="row show-grid">
  <div class="span4"> 	
	<table class="table">	
		 <tbody>
		@for(deck <- decks) {
		  <form id="decklistId@deck.id" action="@routes.Decks.initialFlashcard2()" method="post">	
		      <input type="hidden" name="deckId" value=@deck.id>
			  <tr>
				<td style="border:none;" >
				  <a style="cursor:pointer;" onclick="document.getElementById('decklistId@deck.id').submit();">
				  	<i class="icon-play icon-white"></i>  @deck.name
				  </a>
				  <br>
				  @deck.desc (@deck.size kort) @deck.id
				</td>
				</tr>
			</form>
		}
	  </tbody>

	  </tbody>	
	</table>
  </div>
</div>	

}