@(decks: List[Deck])(implicit flash: Flash)

@main("mattekort.se") {
 
 <h2>Välj kortlek</h2>
 <p>Klicka på namnet på den kortlek du vill träna på!</p>
<div class="row show-grid">
  <div class="span4"> 
	<table class="table table-striped">
      <thead>  
          <tr>  
            <th>Namn</th>  
            <th>Beskrivning</th>  
          </tr>  
      </thead>
	  <tbody>
		@for(deck <- decks) {
		  <tr>
			<form action="@routes.Decks.initialFlashcard2()" method="post">	
			<input type="hidden" name="deckId" value="@deck.id">
			<td>
		        <button class="btn btn-link" type="submit">@deck.name</button>
			</td>
			<td>
			    @deck.desc (@deck.size kort)
			</td>
		    </form>
		  </tr>	
		}
	  </tbody>	
	</table>
  </div>
</div>	

}