@(decks: List[Deck])(implicit flash: Flash)

@main(Messages("deck.list", decks.size)) {
 
 <h2>Välj kortlek</h2>
<div class="row show-grid">
  <div class="span4"> 
	<table class="table">
	  <tbody>
		@for(deck <- decks) {
		  <tr>
			<form action="@routes.Decks.initialFlashcard2()" method="post">	
			<input type="hidden" name="deckId" value="@deck.id">
			<td>
		        @deck.name
			</td>
			<td>
			    @deck.size kort</td>
			<td>
		        <button class="btn" type="submit">Välj</button>
			</td>	
		    </form>
		  </tr>	
		}
	  </tbody>	
	</table>
  </div>
</div>	

<div class="row show-grid">
  <div class="span4"> 
  <h2>Hjälp</h2>
  <p>När du valt vilken kortlek du vill träna på ovan, kommer korten att visas en efter en i slumpmässig ordning. 
  Korten visas med frågesidan uppåt, till exempel "5 + 4 = ". 
  </p><p>
  Under kortet finns tre knappar. Med den första knappen ("Vänd nu!") vänds kortet så att svaret visas. 
  Den andra knappen ("Rätt") trycker du på om du klarade av kortet, och den tredje knappen ("Fel") trycker du på om du inte klarade av kortet.
  </p><p>
  Om du inte trycker på "vänd"-knappen kommer kortet ändå att vändas efter 5 sekunder.
  </p><p>
  När alla kort har visas kommer de kort du inte klarade av att visas igen. 
  När du tryckt på "Rätt"-knappen på alla kort visas vilka kort du hade probelem med och fick testa flera gånger. 
  </p>
  </div>
</div>
}