@(deckName: String, finalState: FlashcardsState, retriedFlashcard: List[Flashcard])(implicit flash: Flash)
@mainWithGraph(deckName)(finalState) {

<h2>
	Klar! @retriedFlashcard.size
</h2>
@if(retriedFlashcard.size > 0) {
  <p>Dessa kort hade du problem med:</p>
  @for(card <- retriedFlashcard){
    <div>@card.question @card.answer</div>
  }
} else {
 <p> Du klarade alla kort utan fel! </p>
}

<br/>

<form action="@routes.Decks.list()" method="get">
	<button class="btn" type="submit">Ok</button>
</form>

<br/><br/>

<div id="chart_div" style="width: 200px; height: 200px;"></div>

}
