@(deckName: String, finalState: FlashcardsState, retriedFlashcard: List[Flashcard])(implicit flash: Flash)
@mainWithGraph(deckName + " klar")(finalState) {

<div class="row show-grid">
   <div class="span4 half">
		<h2>
			Klar!
		</h2>
		@if(retriedFlashcard.size > 0) {
		  <p>Du hade bara fel på:</p>
		  @for(card <- retriedFlashcard){
		    <div>@card.question @card.answer</div>
		  }
		} else {
		 <p> Du klarade alla kort utan fel! </p>
		}
		<br/>
		<div class="row show-grid">
		  <div class="span4"> 
			<form action="@routes.Decks.list()" method="get">
				<button class="btn" type="submit">Ok, starta om</button>
			</form>

			</div>
		</div>
		
   </div>
  
   <div class="span4 half">
		<div id="chart_div" style="width: 180px; height: 180px;"></div>
   </div> 
    <div class="span4"/>
</div>

}
