@()(implicit flash: Flash)

@main("mattekort.se") {
<div class="row show-grid">
  <div class="span4"> 
	<center>Välkommen till
	<h2>mattekort.se</h2></center>
  </div>
</div>

<div class="row show-grid">
  <div class="span4"> 
	<p>
		Här kan du träna grundläggande matematik för årkurs ett (och efter hand årkurs två) med hjälp av frågekort.
		<br>Vet du redan hur mattekort.se fungerar kan du börja direkt genom att trycka på knappen nedan. 
		Vill du veta lite mer först, så fortsätt bara att läsa!
		<div><a class="btn btn-small btn-info" href="@routes.Decks.list()"><i class="icon-play icon-white"></i> Börja</a></div>
	</p>
	<br>
	<p>
	<center><h3>Hur det fungerar</h3></center>
		Varje frågekort har en tal utan svar på framsidan och talet med svar på baksidan. Frågekorten kommer att visas
		en efter en i slumpmässig ordning med framsidan uppåt, till exempel "5 + 3 = "
	</p>	
	<p>
		Du behöver inte skriva svaret, det räcker med att du tänker ut det och säger det för dig själv. 
		Efter fem sekunder kommer kortet att vändas, då kan du se om du hade rätt! 
	</p>
	<p>
		Under kortet finns tre knappar:<br><br>
		<a class="btn-small btn-info"><i class=" icon-eye-open icon-white"></i></a> trycker du på för att vända kortet direkt om du inte vill vänta fem sekunder.<br> 
	  	<a class="btn-small btn-success"><i class="icon-ok icon-white"></i></a> trycker du på om du tycker att du kan talet.<br> 
	  	<a class="btn-small btn-danger"><i class=" icon-remove icon-white"></i></a> trycker du på om du inte tycker att du kan talet.<br>
	 </p>
	 <p> 	
	  	Så fort du tryckt på 
	  	<a class="btn-small btn-success"><i class="icon-ok icon-white"></i></a> eller 
	  	<a class="btn-small btn-danger"><i class=" icon-remove icon-white"></i></a> visas nästa kort.
	 </p>
	 <p>
	  	När alla kort har visats kommer de kort där du tryckte på 
	  	<a class="btn-small btn-danger"><i class=" icon-remove icon-white"></i></a> 
	  	att visas igen tills du kan även de. 
	  	När du till sist har tryckt på <a class="btn-small btn-success"><i class="icon-ok icon-white"></i></a> på alla kort, visas vilka kort du hade problem med och fick testa flera gånger. 
	  </p>
	  <p>
	  	Korten ligger samlade i olika kortlekar med en förklaring av vilka kort som ingår.
	  </p>
	  <p>
	  	När du trycker på börja-knappen högre upp på sidan kommer du till en lista där du kan välja vilken kortlek du vill träna på. 
	  	<br>Lycka till!
	  </p>
	  <p>
	  	<center><h3>Problem/kontakt</h3></center>
		Tanken är att mattekort.se ska fungera med de flesta webbläsare på datorer, surfplattor och nyare smartphones.
		<br>Dessvärre finns det så många olika webbläsare, och så stora skillnader mellan dem, att det aldrig kommer att fungera på alla.
		Kända problem finns till exempel med webbläsaren <strong>Dolphin Browser</strong> på Android-mobiler/surfplattor där inte pajdiagrammet kan visas.
		Och på <strong> Internet Explorer </strong> kan inte kortvändningen animeras.
	 </p>
	 <p>
	 Vill du komma i kontakt med mig så använd adressen 
	 <a href="mailto:info@@mattekort.se" target="_top">info@@mattekort.se</a>
	 </p>
	 </p>
	 <p>
	 <center><h3>Teknik</h3></center>
	 matte.se är byggd med <a href="http://typesafe.com/platform/runtime/playframework" target="_blank">Play Framework</a>
	 för <a href="http://typesafe.com/platform/tools/scala" target="_blank">Scala 2.10</a> 
	 och körs på <a href="http://heroku.com" target="_blank">Heroku</a> med en Dyno.
	 Ikonerna som används kommer från <a href="http://glyphicons.com" target="_blank">Glyphicon</a> 
	 och <a href="http://glyphish.com" target="_blank">Glyphish</a>. 
	 </p>
  </div>
</div>
}
