@()(implicit flash: Flash)

@main("mattekort.se") {
<div class="row show-grid">
  <div class="span4"> 
	<center>Välkommen till
	<h2>mattekort.se</h2></center>
  </div>
</div>

<div class="row show-grid">
  <div class="span4"> 
	<p>
		Här kan du träna grundläggande matematik för årkurs ett (och efter hand årkurs två) med hjälp av frågekort.
		<br>Vet du redan hur mattekort.se fungerar kan du börja direkt genom att trycka på knappen nedan. 
		Vill du veta lite mer först, så fortsätt bara att läsa!
		<div><a class="btn" href="@routes.Decks.list()">Börja</a></div>
	</p>
	<br>
	<p>
	<center><h3>Hur det fungerar</h3></center>
		Varje frågekort har en fråga på framsidan och svaret på baksidan. Frågekorten kommer att visas
		en efter en i slumpmässig ordning med frågesidan uppåt, till exempel "5 + 3 = "
	</p>	
	<p>
		Du behöver inte skriva svaret, det räcker med att du tänker ut det och säger det för dig själv. 
		Efter fem sekunder kommer kortet att vändas, då kan du se om du hade rätt! 
	</p>
	<p>
		Under kortet finns tre knappar. Med den första knappen ("Vänd nu!") kan du själv vända kortet om du inte vill vänta fem sekunder. 
	  	Den andra knappen ("Rätt") trycker du på om du tycker att du klarade av frågan, 
	  	och den tredje knappen ("Fel") trycker du på om du inte tycker att du klarade av frågan.
	  	Så fort du tryckt på "Rätt" eller "Fel" visas nästa kort.
	 </p>
	 <p>
	  	När alla kort har visats kommer de kort där du inte klarade frågan att visas igen tills du kan även de. 
	  	När du till sist har tryckt på "Rätt"-knappen på alla kort, visas vilka kort du hade problem med och fick testa flera gånger. 
	  </p>
	  <p>
	  	Korten ligger samlade i olika kortlekar med en förklaring av vilka kort som ingår.
	  </p>
	  <p>
	  	När du trycker på börja-knappen högre upp på sidan kommer du till en lista där du kan välja vilken kortlek du vill träna på. 
	  	<br>Lycka till!
	  </p>
	  <p>
	  	<center><h3>Problem/förslag/kontakt</h3></center>
		Tanken är att mattekort.se ska fungera med de flesta webbläsare på datorer, surfplattor och nyare smartphones.
		<br>Dessvärre finns det så många olika webbläsare, och så stora skillnader mellan dem, att det aldrig kommer att fungera på alla.
		Kända problem finns till exempel med webbläsaren <strong>Dolphin Browser</strong> på Android-mobiler/surfplattor där inte pajdiagrammet kan visas.
		Och på <strong> Internet Explorer </strong> kan inte kortvändningen animeras.
	 </p>
	 <p>
	 Vill du komma i kontakt med mig så använd adressen 
	 <a href="mailto:info@@mattekort.se" target="_top">info@@mattekort.se</a>
	 </p>
	 </p>
  </div>
</div>
}
