@(title: String)(state: FlashcardsState)(content: Html)(implicit flash: Flash)
<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
	<meta name="keywords" content="matte,mattekort,grundskola,lilla plus,stora plus,lilla minus,stora minus">
	
	<title>@title</title>
	<link rel="stylesheet" type="text/css" media="screen" href='@routes.Assets.at("stylesheets/bootstrap.min.css")'>
	<link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/flipcard.css")">	
	<link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
			
	<link rel="apple-touch-icon" href='@routes.Assets.at("images/ios/icon.png")' />
    <link rel="apple-touch-icon" sizes="72x72" href='@routes.Assets.at("images/ios/icon-72.png")' />
    <link rel="apple-touch-icon" sizes="114x114" href='@routes.Assets.at("images/ios/icon@2x.png")' />
    <link rel="apple-touch-icon" sizes="144x144" href='@routes.Assets.at("images/ios/icon-72@2x.png")' />
	
	<script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      
      function drawChart(nbrUnshown, nbrShownOK, nbrShownNOK) {
        var data = google.visualization.arrayToDataTable([
          ['Task', 'Hours per Day'],
          ['Kvar',     	@state.numberOfUnshownCards],
          ['Klarade direkt',  	@state.numberOfCardsOkAfterFirstTry],
          ['Fel',  		@state.numberOfCardsNotOk],
          ['Klarade efter flera försök', @state.numberOfCardsOkAfterMultipleTries]
        ]); 

        var options = {
          //title: 'My Daily Activities', 
          colors:['green','red','limegreen', 'blue'],
          backgroundColor: '#D0E7EF',
          chartArea:{left:8,top:10,width:"84%",height:"84%"},
          //chartArea:{left:0,top:0,width:"100%",height:"100%"},
          legend:{position:'none', },
          reverseCategories:true
        };

        var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }
    </script>
    
    	
<script type="text/javascript">
	var countdownTimer = setInterval('secondPassed()', 1000);
	var seconds = 5;
	function secondPassed() {
    	document.getElementById('flipbutton').innerHTML = "<i class='icon-eye-open icon-white'></i>  (" + seconds + ")";
    	
    	if (seconds == 0) {
        	flipCard2();   
    	} else {
        	seconds--;
    	}
	}
	
	function flipCard()
    {	
    	clearInterval(countdownTimer);
        document.getElementById("flipid").className += " flipping";
        disableFlipbutton();
    }
    
    function flipCard2()
    {	
    	clearInterval(countdownTimer);
        document.getElementById("flipid").className += " flip";
        disableFlipbutton();
    }
    
    
    function disableFlipbutton()
    {
        document.getElementById("flipbutton").disabled = true;
        document.getElementById("flipbutton").className += " disabled";
        document.getElementById('flipbutton').innerHTML = "<i class='icon-eye-close icon-white'></i>  (0)";
    }

 
</script>
     
</head>
<body>
	<div class="container" style="padding:10px; margin-top:10px; background-color:#D0E7EF;">	
       @content 
	</div>
	<div><a href="@routes.Application.index()"><i class="icon-home icon-white"></i><small> Börja om</small></a></div>
</body>
</html>