@(title: String)(content: Html)(implicit flash: Flash)
<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
	<meta name="description" content="Matematikträning för grundskolan med mattekort" />
    <meta name="keywords" content="matte,matematik,mattekort,flashcard,grundskola,lilla plus,stora plus,lilla minus,stora minus" />
    
	<title>@title</title>
	<link rel="stylesheet" type="text/css" media="screen" href='@routes.Assets.at("stylesheets/bootstrap.min.css")' />

	<link rel="apple-touch-icon" href="http://mattekort.se/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="http://mattekort.se/apple-touch-icon-72px.png">
	<link rel="apple-touch-icon" sizes="114x114" href="http://mattekort.se/apple-touch-icon-114px.png">
	<link rel="apple-touch-icon" sizes="144x144" href="http://mattekort.se/apple-touch-icon-144px.png">
	
	<link rel="shortcut icon" href="http://mattekort.se/favicon.ico">

<!--
    <link rel="icon" type="image/x-icon" href="http://192.168.0.9:9000/assets/images/ab/favicon.ico"/>
	<link rel="apple-touch-icon" href="http://192.168.0.9:9000/assets/images/ab/ab-icon-144x144.png" />
-->

	
	<script type="text/javascript" language="javascript">
        function fnGetWidthHeight() {
            var viewportwidth;
            var viewportheight;
            // The more standards compliant browsers (mozilla/netscape/opera/chrome/IE7) use window.innerWidth and window.innerHeight
            if (typeof window.innerWidth != 'undefined') {
                viewportwidth = window.innerWidth;
                viewportheight = window.innerHeight;
            }
            // IE6 in standards compliant mode (i.e. with a valid doctype as the first line in the document)
            else if (typeof document.documentElement != 'undefined' && typeof document.documentElement.clientWidth != 'undefined' && document.documentElement.clientWidth != 0) {
                viewportwidth = document.documentElement.clientWidth;
                viewportheight = document.documentElement.clientHeight;
            }
            // older versions of IE
            else {
                viewportwidth = document.getElementsByTagName('body')[0].clientWidth;
                viewportheight = document.getElementsByTagName('body')[0].clientHeight;
            }
            alert('Your viewport width & height is ' + viewportwidth + 'x' + viewportheight);
        }
    </script>
	
</head>
<!-- body onload="fnGetWidthHeight()" -->
<body>
	<div class="container" style="padding:10px; margin-top:10px; background-color:#D0E7EF;">	
       @content 
	</div>
</body>
</html>