@(title: String)(state: FlashcardsState)(content: Html)(implicit flash: Flash)
<!DOCTYPE html>
<html>
<head>
	<title>@title</title>
	<link rel="stylesheet" type="text/css" media="screen" href='@routes.Assets.at("stylesheets/bootstrap.css")'>
	<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
	
	<script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      
      function drawChart(nbrUnshown, nbrShownOK, nbrShownNOK) {
        var data = google.visualization.arrayToDataTable([
          ['Task', 'Hours per Day'],
          ['Kvar',     	@state.numberOfUnshownCards],
          ['Klarade direkt',  	@state.numberOfCardsOkAfterFirstTry],
          ['Fel',  		@state.numberOfCardsNotOk],
          ['Klarade efter flera försök', @state.numberOfCardsOkAfterMultipleTries]
        ]); 

        var options = {
          //title: 'My Daily Activities', 
          //colors:['blue', 'green', 'red', '#004411'],
          colors:['green','red','limegreen', 'blue'],
          backgroundColor: '#D0E7EF',
          chartArea:{left:8,top:8,width:"90%",height:"90%"},
          legend:{position:'none', },
          reverseCategories:true
        };

        var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }
    </script>
    
    	
<script type="text/javascript">
	var countdownTimer = setInterval('secondPassed()', 1000);
	var seconds = 5;
	function secondPassed() {
    	document.getElementById('countdown').innerHTML = seconds;
    	if (seconds == 0) {
        	clearInterval(countdownTimer);
        	document.getElementById('countdown').innerHTML = "Buzz Buzz";
    	} else {
        	seconds--;
    	}
	}
 
</script>
    
</head>
<body>
<div class="screenshot">
	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<a class="brand" href="@routes.Application.index()"> @title</a>
			</div>
		</div>
	</div>
	
	<div class="container">	
		@if(flash.get("success").isDefined){
			<div class="alert alert-success">
				@flash.get("success")
			</div>
		}

		@if(flash.get("error").isDefined){
			<div class="alert alert-error">
				@flash.get("error")
			</div>
		}
		@content
		@debug()
	</div>
	
</div>


</body>
</html>